
div {
    margin: .25em;
    padding: .25em;
    line-height: 1.25em;
    font-size: 1.25em;
    border: .1em solid seagreen;
    color: black;
    position: relative;
}

input {
    width: 100%;
}

.form label {
}

.translation label {
    
}