
div {
    margin: .25em;
    padding: .25em;
    line-height: 1.25em;
    font-size: 1.25em;
    color: black;
    position: relative;
}

.step {
    border: 1px dotted grey;
}

input {
    width: 100%;
}

.form label {
}

.translation label {
    
}