div {
    margin: 1em;
    padding: .25em;
    line-height: 2.25em;
    font-size: 1.25em;
    border: 1em solid red;
    color: black;
    position: relative;
}
input[type="reset"] {
    float: right;
    height: 1.25em;
}